* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.account {
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  background: linear-gradient(45deg, #f4f4f4, #ccb4a5, #7ea6f7);
  height: 100vh;
}

.account-content {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 200vh;
  border-radius: 10px;
}

.left {
  width: 45%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #7ea6f7, #f4f4f4, #ccb4a5);
  color: black;
  border-radius: 15px 0 0 15px;
}

.home {
  border: none;
  color: black;
  font-size: 1.2rem;
}

.text {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 110px;
}
.text h3 {
  font-size: 3rem;
}

.form {
  text-align: center;
  margin-left: 10px;
}

.form input {
  border-radius: 10px;
  margin: 10px;
  border: none;
  padding: 8px 20px;
  outline: none;
}

.form ::placeholder {
  padding-left: 6px;
  font-size: 14px;
}
.form .submit {
  margin-top: 20px;
  font-size: 15px;
  padding: 8px 35px;
  color: white;
  background: linear-gradient(45deg, #000000, #141414, #171717);
}
.submit:hover {
  color: rgb(8, 8, 8);
  background: linear-gradient(45deg, #ef14d5, #abc1f0, #8234e9);
}

.loginlink {
  margin-top: 17vh;
  text-align: center;
}

.singintext {
  color: #000000;
  padding-right: 5px;
}
.singinlink {
  border: none;
  color: rgb(207, 59, 180);
}
.singinlink:hover {
  color: rgb(244, 125, 46);
}

.right {
  width: 45%;
  background: linear-gradient(45deg, #000000, #1d1d1d, #171717);
  border-radius: 0 15px 15px 0;
  align-items: center;
}

.brand {
  padding-top: 26vh;
  text-align: center;
}
.brand img {
  width: 400px;
}

.brand p {
  font-style: italic;
}

@media (max-width: 768px) {
  .account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #7ea6f7, #f4f4f4, #ccb4a5);
  }
  .return {
    padding-bottom: 3vh;
    padding-right: 2vh;
  }
  .text {
    padding: 3vh;
    margin: 0;
  }

  .text h3 {
    font-size: 2.5rem;
  }

  .account-content {
    max-width: 50vh;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: none;
  }

  .return {
    color: black;
    padding: none;
  }
  .singinlink {
    font-size: 1rem;
  }

  .right {
    display: none;
  }
}
