/* Estilos gerais do Header */
.Header {
  height: 74vh;
  position: relative;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.justify-content-end flex-grow-1 pe-3 {
  color: white;
}

.custom-nav .nav-link {
  color: white;
}
.custom-nav .nav-link:hover {
  color: rgb(191, 191, 191);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .Header {
    display: flex;
    width: auto;
    height: 90vh;
    flex-direction: column;
  }
}
